{% extends "base.html" %}

{% block content %}
    <div class="row tm-content-row">
    <div class="container">
        <div class="col-12">
            <h1 class="text-white mt-5 mb-5">Test: PlaceHolder</h1>
        </div>
    </div>

    {% if have_ans %}

        <div class="container tm-mb-big">

          <div class="row">
            <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
            <div class="tm-mb-big">
                <h3 class="text-white mt-5 mb-5">You have uploaded the ans for this test</h3>
                <h4><a class="btn btn-primary btn-block text-uppercase" href="{{ url_for('view_ans', test_id=test_id) }}">view ans </a> </h4>
            </div>

              <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <div class="row">
                  <div class="col-12">
                    <h2 class="tm-block-title d-inline-block">Scoring</h2>
                  </div>
                </div>
                <div class="tm-edit-product-row">
                    <form method="post" action="{{ url_for('process_stu_form', test_id=test_id) }}" enctype="multipart/form-data" class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12">
                      <div class="form-group mb-3">
                        <label
                          for="stu_id"
                          >Student ID:
                        </label>
                        <input
                          id="stu_id"
                          name="stu_id"
                          type="text"
                          class="form-control validate"
                          required
                        />
                      </div>
                      <div class="form-group mb-3">
                          <label for="mode">Mode</label>
                        <select
                          class="custom-select tm-select-accounts"
                          id="mode"
                          name="model"
                        >
                          <option selected value="1">Handwriting</option>
                          <option value="">Machine coded</option>
                        </select>
                      </div>
                      <div class="form-group mb-3">
                        <label
                          for="Status"
                          >Status</label
                        >
                        <select
                          class="custom-select tm-select-accounts"
                          id="status"
                          name="status"
                        >
                          <option selected value="1">OK</option>
                          <option value="2">Late Submission</option>
                          <option value="3">Cheat</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
                        <div class="tm-product-img-dummy mx-auto">
                          <i
                            class="fas fa-cloud-upload-alt tm-upload-icon"
                            onclick="document.getElementById('fileInput').click();"
                          ></i>
                        </div>
                        <div class="custom-file mt-3 mb-3">
                          <input id="fileInput" type="file" name="stu_ans" style="visibility:hidden ;" required="required"/>
                          <input
                            type="button"
                            class="btn btn-primary btn-block mx-auto"
                            value="PHOTO OF STUDENT ANSWER"
                            onclick="document.getElementById('fileInput').click();"
                          />
                        </div>
                      </div>
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary btn-block text-uppercase" style="margin-top: 25px">upload form</button>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        {% if student_details is not none %}
        <h1 class="text-white mt-5 mb-5">Statistics</h1>
        <div class="row">
        <div id="main" style="width: 60%; height:300px; background-color: #6d8da6"></div>
        <script>
            var dict = {{ score_counter }}
            var chartDom = document.getElementById('main');
            var myChart = echarts.init(chartDom);
            var option;

            option = {
              tooltip: {
                trigger: 'axis',
                axisPointer: {
                  type: 'shadow'
                }
              },
              grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
              },
              xAxis: [
                {
                  type: 'category',
                  data: Object.keys(dict),
                  axisTick: {
                    alignWithLabel: true
                  }
                }
              ],
              yAxis: [
                {
                  splitLine: false,
                  type: 'value'
                }
              ],
              series: [
                {
                  name: 'Direct',
                  type: 'bar',
                  barWidth: '60%',
                  data: Object.values(dict)
                }
              ]
            };

            option && myChart.setOption(option);
        </script>

        <div id="status_donut" style="width: 40%; height:300px; background-color:#6d8da6"></div>
        <script type="text/javascript">
            var chart = echarts.init(document.getElementById('status_donut'));
            var option = {
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    top: '5%',
                    left: 'center'
                  },

                series: [
                    {
                        name: 'Student Status',
                        type: 'pie',
                        radius: ['40%', '70%'],
                        avoidLabelOverlap: false,
                        itemStyle: {
                            borderRadius: 10,
                            borderColor: '#fff',
                            borderWidth: 2
                        },
                        label: {
                            show: false,
                            position: 'center'
                        },
                        emphasis: {
                            label: {
                                show: true,
                                fontSize: 40,
                                fontWeight: 'bold'
                            }
                        },
                        labelLine: {
                            show: false
                        },

                        data: [
                            {% for k, v in status_counter.items() %}
                                {value: {{ v }}, name: "{{ k }}"},
                            {% endfor %}
                        ]
                    }
                ]
            };
            chart.setOption(option);
        </script>
        </div>
        <div class="row">
        <div id="question_detail" style="width: 100%; height:500px; background-color:#6d8da6"></div>
        <script>
            var chartDom = document.getElementById('question_detail');
            var myChart = echarts.init(chartDom);
            var option;

            let xAxisData = [];

            let correct_ok = {{ correct_detail_by_group[2] }};
            let correct_late_submission = {{ correct_detail_by_group[1] }};
            let correct_cheat = {{ correct_detail_by_group[0] }};
            let wrong_ok = {{ wrong_detail_by_group[2] }};
            let wrong_late_submission = {{ wrong_detail_by_group[1] }};
            let wrong_cheat = {{ wrong_detail_by_group[0] }};

            for (let i = 1; i <= correct_ok.length; i++) {
              xAxisData.push('Q' + i);
            }
            var emphasisStyle = {
              itemStyle: {
                shadowBlur: 10,
                shadowColor: 'rgba(0,0,0,0.3)'
              }
            };
            option = {
              legend: {
                data: ['Correct OK', 'Correct Late Submission', 'Correct Cheat', 'Wrong OK', 'Wrong Late Submission', 'Wrong Cheat'],
                left: '10%'
              },
              tooltip: {},
              xAxis: {
                data: xAxisData,
                name: 'X Axis',
                axisLine: { onZero: true },
                splitLine: { show: false },
                splitArea: { show: false }
              },
              yAxis: {},
              grid: {
                bottom: 100
              },
              series: [
                {
                  name: 'Correct OK',
                  type: 'bar',
                  stack: 'one',
                  emphasis: emphasisStyle,
                  data: correct_ok,
                  color: '#79c057',
                },
                {
                  name: 'Correct Late Submission',
                  type: 'bar',
                  stack: 'one',
                  emphasis: emphasisStyle,
                  data: correct_late_submission,
                    color: '#FFDC60'
                },
                {
                  name: 'Correct Cheat',
                  type: 'bar',
                  stack: 'one',
                  emphasis: emphasisStyle,
                  data: correct_cheat,
                    color: '#FFF0F0'
                },
                {
                  name: 'Wrong OK',
                  type: 'bar',
                  stack: 'two',
                  emphasis: emphasisStyle,
                  data: wrong_ok,
                    color: '#79c057'
                },
                {
                  name: 'Wrong Late Submission',
                  type: 'bar',
                  stack: 'two',
                  emphasis: emphasisStyle,
                  data: wrong_late_submission,
                    color: '#FFDC60'
                },
                {
                  name: 'Wrong Cheat',
                  type: 'bar',
                  stack: 'two',
                  emphasis: emphasisStyle,
                  data: wrong_cheat,
                    color: '#d54175'
                }
              ]
            };
            myChart.on('brushSelected', function (params) {
              var brushed = [];
              var brushComponent = params.batch[0];
              for (var sIdx = 0; sIdx < brushComponent.selected.length; sIdx++) {
                var rawIndices = brushComponent.selected[sIdx].dataIndex;
                brushed.push('[Series ' + sIdx + '] ' + rawIndices.join(', '));
              }
              myChart.setOption({
                title: {
                  backgroundColor: '#333',
                  text: 'SELECTED DATA INDICES: \n' + brushed.join('\n'),
                  bottom: 0,
                  right: '10%',
                  width: 100,
                  textStyle: {
                    fontSize: 12,
                    color: '#d54175'
                  }
                }
              });
            });

            option && myChart.setOption(option);
        </script>
        </div>

        <h1 class="text-white mt-5 mb-5">Scored details</h1>
            <div class="col-12 tm-block-col">
              <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                <h2 class="tm-block-title">Orders List</h2>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">STUDENT ID</th>
                        <th scope="col">STATUS</th>
                        <th scope="col">MARK</th>
                        <th scope="col">ANSWER</th>
                        <th scope="col">DETAIL</th>
                        <th scope="col">RESULT</th>
                        <th scope="col">Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for student_detail in student_details %}
                        <tr>
                            <td>{{ student_detail[0] }}</td>

                            {% if student_detail[1] == 'OK' %}
                                <td><div class="tm-status-circle moving"></div>{{ student_detail[1] }}</td>
                            {% elif student_detail[1] == 'Late Submission' %}
                                <td><div class="tm-status-circle pending"></div>{{ student_detail[1] }}</td>
                            {% elif student_detail[1] == 'Cheat' %}
                                <td><div class="tm-status-circle cancelled"></div>{{ student_detail[1] }}</td>
                            {% else %}
                                <td>{{ student_detail[1] }}</td>
                            {% endif %}

                            <td>{{ student_detail[4] }} / {{ student_detail[5] }}</td>
                            <td><a href="{{ url_for('view_stu_ans', test_id=test_id, student_id=student_detail[0]) }}">View ans</a> </td>
                            <td><a href="{{ url_for('result', test_id=test_id, student_id=student_detail[0]) }}">Result</a> </td>
                            <td>Export</td>
                            <td><a href="{{ url_for('delete_stu_ans', test_id=test_id, student_id=student_detail[0]) }}">Delete</a> </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>

        {% else %}
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
            <div class="tm-mb-big">
                <h3 class="text-white mt-5 mb-5">You haven't uploaded any student answer for this test</h3>
            </div>
        </div>
        {% endif %}

    {% else %}
        <div class="container tm-mb-big">

          <div class="row">
            <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
                <h3 class="text-white mt-5 mb-5">It seems that you haven't uploaded the answer for this test</h3>
              <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <div class="row">
                  <div class="col-12">
                    <h2 class="tm-block-title d-inline-block">Upload Answer</h2>
                  </div>
                </div>
                <div class="tm-edit-product-row">
                    <form method="post" action="{{ url_for('process_form', test_id=test_id) }}" enctype="multipart/form-data">
                    <input id="ans_file" accept="image/*" class="mb-4" type="file" size="30" name="photo" required="required"/>
                      <div class="form-group tm-mb-big">
                        <label for="mode">Mode</label>
                        <select
                          class="custom-select tm-select-accounts"
                          id="mode"
                          name="model"
                        >
                          <option selected value="1">Handwriting</option>
                          <option value="">Machine coded</option>
                        </select>
                      </div>
                    <input type="submit" value="Upload" class="btn btn-primary btn-block text-uppercase" style="margin-top:15px;"/>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>

    {% endif %}
{% endblock %}